<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmpasteleria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DMPasteleria">

        <activity android:name=".Pe_usuario_paypal_PaymentDetails"/>
        <activity android:name=".Pe_usuario_pedidos_paypal" />
        <activity android:name=".Pe_empleado_mapa" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_qsP8AOP_P0MdlPz-48TDaJYjTP3vbjo" /> <!-- android:value="AIzaSyCYhaJkQ0B0DbxPO25i8lU5-4DovTxp8BA" -->
        <activity android:name=".Pe_usuario_pasteles_personalizados_mapa" />
        <activity android:name=".Pe_usuario_pasteles_personalizados" />
        <activity android:name=".Pe_usuario_sucursales" />
        <activity android:name=".Pe_usuario_pedidos" />
        <activity android:name=".Pe_admin_vistageneral" />

        <activity android:name=".Pe_admin_agregarp" />
        <activity android:name=".Pe_user_settings" />
        <activity android:name=".Pe_admin_agregari" />
        <activity android:name=".Pe_admin_historial" />
        <activity android:name=".Pe_admin_expandira" />
        <activity android:name=".Pe_admin_gestionari" />
        <activity android:name=".Pe_usuario_pasteles_menu" />
        <activity android:name=".Pe_admin_pedidos" />
        <activity android:name=".Pe_admin_inventario" />
        <activity android:name=".Pe_admin_inicio" />
        <activity android:name=".Pe_empleado_inicio" />
        <activity android:name=".Pe_usuario_inicio" />
        <activity android:name=".Pe_registro" />
        <activity android:name=".Pe_iniciodesesion" />
        <activity android:name=".Pe_change_settings" />
        <activity android:name=".Pe_inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pe_usuario_pasteles_personalizados_mapa2" />
    </application>

</manifest>